{:paths ["src" "resources"]
 :deps {;; Config
        aero/aero {:mvn/version "1.1.6"}
        ;; Data Schema
        metosin/malli {:mvn/version "0.13.0"}
        ;; Web Server
        aleph/aleph {:mvn/version "0.7.0-alpha2"}
        }}